@spin-keyframes: {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
};

.keyframes(spin, @spin-keyframes);



@text-slideshow-keyframes: {
	0% {
		.transform(translateY(-100%));
		.o(0);
	}
	20% {
		.o(1);
		.transform(translateY(0%));
	}
	80% {
		.transform(translateY(0%));
		.o(1);
	}
	100% {
		.transform(translateY(100%));
		.o(0);
	}
};

.keyframes(text-slideshow, @text-slideshow-keyframes);


 
@loader-fadein-keyframes: {
	0% {
		.o(0);
	}
	20% {
		.o(1);
	}
	79% {
		.o(1);
	}
	80% {
		.o(0);
	}
};

.keyframes(loader-fadein, @loader-fadein-keyframes);



@checkmark-fadein-keyframes: {
	0% {
		.o(0);
	}
	79% {
		.o(0);
	}
	80% {
		.o(1);
	}
	100% {
		.o(1);
	}
};

.keyframes(checkmark-fadein, @checkmark-fadein-keyframes);



@text-color-change-keyframes: {
	0% {
		.fw-regular;
		font-style: normal;
		color: @color-borders;
	}
	20% {
		.fw-bold;
		font-style: italic;
		color: @color-s;
	}
	79% {
		.fw-bold;
		font-style: italic;
		color: @color-s;
	}
	80% {
		.fw-regular;
		font-style: normal;
		color: @color-s;
	}
	100% {
		.fw-regular;
		font-style: normal;
		color: @color-s;
	}
};

.keyframes(text-color-change, @text-color-change-keyframes);



@border-color-change-keyframes: {
	0% {
		border-color: transparent;
	}
	20% {
		border-color: @color-borders;
	}
	79% {
		border-color: @color-borders;
	}
	80% {
		border-color: transparent;
	}
	100% {
		border-color: transparent;
	}
};

.keyframes(border-color-change, @border-color-change-keyframes);



@loader-dots-keyframes: {
	0% {
		.transform(scale(1));
	}
	50% {
		.transform(scale(1.3));
	}
	100% {
		.transform(scale(1));
	}
};

.set-animation(loader-dots, @loader-dots-keyframes, 1.5s, linear, infinite);



@rotate-star-keyframes: {
	0% {
		.transform(rotate(0deg));
	}
	100% {
		.transform(rotate(360deg));
	}
};

.set-animation(rotate-star, @rotate-star-keyframes, 20s, linear, infinite);

